@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  cursor: pointer;
}

.container {
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: red solid 1px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  body {
    width: 1600px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer__logo:is(:hover, :focus), .menu-contacts__item:is(:hover, :focus), .menu-nav__item:is(:hover, :focus), .header-contact__item:is(:hover, :focus), .header-nav__item:is(:hover, :focus), .header__logo:is(:hover, :focus) {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header-nav__link--active::after, .header-nav__link::before {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.projects-list__overlay, .footer-social-media__item, .customers__svg, .customers__item, .team-social-media__link, .work__img-h3, .hero--flex, .menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__title {
  margin-left: auto;
  margin-right: auto;
}

.projects-list__overlay, .subscribe__btn, .team-social-media__link, .backdrop {
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 15px;
  }
}
.modal__btn {
  position: relative;
  left: 412px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal__btn {
    left: 475px;
    top: -8px;
  }
}
.modal__btn:is(:hover, :focus) {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn-svg {
  width: 13px;
  height: 13px;
}
.modal__title {
  position: relative;
  top: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3%;
  text-align: center;
  width: 370px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    width: 448px;
    height: 23px;
    top: -7px;
  }
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}
.modal__input {
  width: 370px;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42.5px;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}
.modal__input:is(:hover, :focus) {
  border-color: #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:is(:hover, :focus) + .modal__svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: rubberBand;
          animation: rubberBand;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.modal__input--comment {
  width: 370px;
  height: 120px;
  padding-bottom: 90px;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .modal__input--comment {
    width: 448px;
    height: 120px;
  }
}
.modal__label-checkbox {
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.modal__input-checkbox {
  background: #212121;
}
.modal__span {
  color: #757575;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 1%;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .modal__span {
    font-size: 14px;
  }
}
.modal__span__span:last-child {
  color: #757575;
  letter-spacing: 3%;
}
.modal__span-link {
  color: #2196f3;
  text-decoration: underline;
}
.modal__svg {
  position: absolute;
  left: 14px;
  top: 54%;
}
.modal__finish-btn {
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 6%;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-top: 24px;
  margin-bottom: 25px;
  width: 145px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}
.header__logo--start {
  color: #2196f3;
}
.header__logo--end {
  color: #212121;
}

.header-nav {
  display: none;
  line-height: 1.1428571429;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    margin-right: auto;
  }
}
.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__item {
  position: relative;
}
.header-nav__item:is(:hover, :focus) .header-nav__link {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__item:not(:last-child) {
  width: 42px;
  margin-right: 51px;
}
.header-nav__item:nth-child(2) {
  width: 69px;
  margin-right: 50px;
}
.header-nav__item:nth-child(3) {
  width: 62px;
}
.header-nav__link {
  position: relative;
  color: #212121;
  padding: 10px 0px 32px;
}
.header-nav__link::before {
  content: " ";
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:is(:hover, :focus) {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.header-nav__link:is(:hover, :focus)::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.header-nav__link--active {
  color: #2196f3;
}
.header-nav__link--active::after {
  display: block;
}

.header-contact {
  display: none;
  font-weight: 500;
  line-height: 1.1428571429;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.8571428571;
}
@media screen and (min-width: 768px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    gap: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.875;
  }
}
.header-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-contact__item:is(:hover, :focus) .header-contact__link {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__item:is(:hover, :focus) .header-contact__img {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__item:first-child {
  margin-left: auto;
}
.header-contact__item:nth-child(2) {
  margin-left: 107px;
}
@media screen and (min-width: 1200px) {
  .header-contact__item:nth-child(2) {
    margin-left: 0;
  }
}
.header-contact__img {
  fill: #757575;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contact__img {
    margin-right: 10px;
  }
}
.header-contact__img--start {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .header-contact__img--start {
    width: 20px;
    height: 16px;
  }
}
.header-contact__img--end {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .header-contact__img--end {
    width: 19px;
    height: 15px;
  }
}
.header-contact__link {
  color: #757575;
}

.menu-btn {
  padding: 0;
  background: #ffffff;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  outline: 1px solid red;
  -webkit-transition: ease, -webkit-transform 0.4s ease;
  transition: ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, ease;
  transition: transform 0.4s ease, ease, -webkit-transform 0.4s ease;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  margin-left: 420px;
  margin-top: 22px;
  margin-right: 21px;
  width: 23px;
  height: 23px;
  background: #ffffff;
}
.menu-toggle:is(:hover, :focus) .menu-svg {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.menu-svg {
  width: 23px;
  height: 23px;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
  margin-bottom: 302px;
}
.menu-nav__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  margin-left: 25px;
}
.menu-nav__item:first-child {
  width: 139px;
}
.menu-nav__item:nth-child(2) {
  width: 219px;
}
.menu-nav__item:last-child {
  width: 192px;
}
.menu-nav__item:is(:hover, :focus) .menu-nav__link {
  color: #2196f3;
}
.menu-nav__link {
  color: rgb(33, 33, 33);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link--active {
  color: #2196f3;
}

.menu-contacts {
  margin-bottom: 64px;
}
.menu-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  margin-left: 25px;
}
.menu-contacts__item:first-child {
  width: 200px;
  margin-bottom: 32px;
}
.menu-contacts__item:last-child {
  width: 231px;
}
.menu-contacts__item:is(:hover, :focus) .menu-contacts__link {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts__link {
  color: #757575;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: 25px;
}
.menu-social__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
}
.menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social__link {
  color: #2196f3;
}

.hero {
  margin: 0 auto;
  height: 400px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background-mob.jpeg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background-mob.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background-tab.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background-tab.jpeg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background-tab@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background.jpg");
    margin-bottom: 94px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-background@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-background@2x.jpg");
  }
}
.hero--flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.hero__title {
  width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
.hero__button {
  color: #ececec;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  border: none;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 216px;
  }
}

.information {
  height: 994px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .information {
    height: 600px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .information {
    height: 248px;
    margin-bottom: 94px;
  }
}
.information__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .information__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.information__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .information__item {
    -ms-flex-preferred-size: calc((50% - 30px) / 2);
        flex-basis: calc((50% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .information__item {
    -ms-flex-preferred-size: calc((25% - 30px) / 4);
        flex-basis: calc((25% - 30px) / 4);
  }
}
.information__img-background {
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .information__img-background {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .information__img-background {
    width: 270px;
    height: 120px;
  }
}
.information__img {
  position: relative;
  left: 192.34px;
  top: 25px;
  width: 65.32px;
  height: 70px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .information__img {
    position: relative;
    left: 145.34px;
    top: 25px;
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .information__img {
    left: 103.34px;
    top: 25px;
  }
}
.information__title {
  width: 270px;
  font-weight: 700;
  line-height: 1.1428571429;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .information__title {
    text-align: start;
    margin: 0;
    margin-bottom: 10px;
  }
}
.information__subtitle {
  color: #757575;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .information__subtitle {
    width: 100%;
  }
}

.work {
  margin-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__img-div {
  position: relative;
}
.work__img-h3 {
  position: absolute;
  bottom: 0;
  margin-top: 27px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 3%;
  width: 100%;
  height: 70px;
  background: #2f303a;
  opacity: 80%;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
  height: 2761px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team {
    height: 1285px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    height: 708px;
  }
}
.team__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    margin-top: 94px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.team__item {
  width: 450px;
  height: 622px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    height: 428px;
  }
}
.team__caption {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  margin-top: 30px;
}
.team__job {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team-social-media__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-social-media__item:is(:hover, :focus) {
  background: #2196f3;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: swing;
          animation: swing;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.team-social-media__item:is(:hover, :focus) .team-social-media__svg {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-media__svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: #757575;
}

.customers {
  height: 519px;
}
@media screen and (min-width: 768px) {
  .customers {
    height: 397px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    height: 372px;
  }
}
.customers__title {
  padding-top: 60px;
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.8571428571;
    padding-top: 94px;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.customers__item {
  width: 210px;
  height: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #757575;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 92px;
  }
}
.customers__item:is(:hover, :focus) {
  cursor: pointer;
  border-color: #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:is(:hover, :focus) .customers__svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: tada;
          animation: tada;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.customers__link {
  display: block;
}
.customers__svg {
  fill: #757575;
}
.customers__svg--first {
  width: 50.27px;
  height: 50.23px;
}
@media screen and (min-width: 768px) {
  .customers__svg--first {
    width: 43.27px;
    height: 43.23px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg--first {
    width: 46px;
    height: 52.7px;
  }
}
.customers__svg--second {
  width: 53px;
  height: 65px;
}
@media screen and (min-width: 768px) {
  .customers__svg--second {
    width: 50px;
    height: 62px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg--second {
    width: 48px;
    height: 60px;
  }
}
.customers__svg--third {
  width: 50.46px;
  height: 48.18px;
}
@media screen and (min-width: 768px) {
  .customers__svg--third {
    width: 45.46px;
    height: 43.18px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg--third {
    width: 43.46px;
    height: 41.18px;
  }
}
.customers__svg--fourth {
  width: 160.44px;
  height: 116.62px;
}
@media screen and (min-width: 1200px) {
  .customers__svg--fourth {
    width: 170.44px;
    height: 126.62px;
  }
}
.customers__svg--fifth {
  width: 83.54px;
  height: 66.43px;
}
@media screen and (min-width: 768px) {
  .customers__svg--fifth {
    width: 75.54px;
    height: 58.43px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg--fifth {
    width: 77.54px;
    height: 60.43px;
  }
}
.customers__svg--sixth {
  width: 153.79px;
  height: 103.93px;
}
@media screen and (min-width: 768px) {
  .customers__svg--sixth {
    width: 133.79px;
    height: 83.93px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg--sixth {
    width: 153.79px;
    height: 103.93px;
  }
}

.footer {
  height: 603px;
  background-color: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 251px;
  }
}
.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__address {
  padding-top: 60px;
  width: 232px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 76px;
    margin-right: 165px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-left: 0;
    margin-right: 70px;
  }
}
.footer__logo {
  display: block;
  width: 137px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 0;
  }
}
.footer__logo--start {
  color: #2196f3;
}
.footer__logo--end {
  color: #ffffff;
}
.footer__list {
  width: 231px;
  margin-bottom: 60px;
}
.footer__item {
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__contact {
  color: #ffffff;
  opacity: 60%;
}

.footer-social-media {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 206px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .footer-social-media {
    margin: 0;
    margin-top: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-media {
    margin-top: 72px;
    margin-right: 93px;
  }
}
.footer-social-media__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-social-media__title {
    text-align: left;
  }
}
.footer-social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer-social-media__item {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer-social-media__item:is(:hover, :focus) {
  background: #2196f3;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: swing;
          animation: swing;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.footer-social-media__item:is(:hover, :focus) .footer-social-media__svg {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media__svg {
  fill: #ffffff;
  display: block;
  width: 20px;
  height: 20px;
}

.subscribe {
  width: 450px;
  height: 156px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
    height: 86px;
    margin: 0;
    margin-top: 72px;
    margin-right: -100%;
    margin-bottom: auto;
  }
}
.subscribe__title {
  color: #ffffff;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    gap: 10px;
  }
}
.subscribe__input {
  width: 358px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2f303a;
  margin-bottom: 20px;
  padding-left: 16px;
}
.subscribe__div {
  position: relative;
  width: 200px;
  height: 50px;
}
.subscribe__btn {
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  padding-right: 67px;
  padding-left: 28px;
}
.subscribe__svg {
  position: absolute;
  right: 23px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 24px;
  height: 24px;
}

.portfolio {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-bottom: 94px;
    margin-top: 94px;
  }
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 94px;
  margin-bottom: 30px;
  gap: 8px;
  width: 326px;
  height: 91px;
}
@media screen and (min-width: 768px) {
  .sorting-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 575px;
    height: 54px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .sorting-list {
    margin-bottom: 34px;
  }
}
.sorting-list__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sorting-list__btn:is(:focus, :hover) {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: wobble;
          animation: wobble;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.sorting-list__btn:nth-child(1) {
  padding: left bottom 25px;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .projects-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.projects-list__item {
  position: relative;
  width: 100%;
  height: 404px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ececec;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .projects-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .projects-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.projects-list__item:is(:hover, :focus) {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__item:is(:hover, :focus) .projects-list__overlay {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 275ms ease-in-out 83ms;
  transition: all 275ms ease-in-out 83ms;
}
.projects-list__img--wrapp {
  position: relative;
  overflow: hidden;
}
.projects-list__img {
  width: 100%;
}
.projects-list__overlay {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__overlay-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 3%;
  text-align: left;
  width: 322px;
  height: 168px;
}
.projects-list__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.projects-list__caption {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  margin-left: 24px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */