.information {
  height: 994px;

  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    height: 600px;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
  height: 248px;
  margin-bottom: 94px;
  }

&__list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

&__item {
  // @include sizes(450px, 226px);
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    // @include sizes(354px, 224px);
    flex-basis: calc((50% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    // @include sizes(270px, 100%);
    flex-basis: calc((25% - 30px) / 4);
  }
}

&__img-background {
  @include sizes(450px, 120px);

  background-color: $team-background-color;

  margin-bottom: 30px;

  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    @include sizes(354px, 120px);
  }

  @media screen and (min-width: $desktop) {
  @include sizes(270px, 120px);
  }
}

&__img {
  position: relative;
  left: 192.34px;
  top: 25px;

  @include sizes(65.32px, 70px);

  background-color: $team-background-color;

  @media screen and (min-width: $tablet) {
  position: relative;
  left: 145.34px;
  top: 25px;

  @include sizes(70px, 70px);
  }

  @media screen and (min-width: $desktop) {
    left: 103.34px;
  top: 25px;
  }
}

&__title {
  width: 270px;
  font-weight: 700;
  line-height: calc(16 / 14);
  margin-bottom: 10px;
  text-align: center;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    text-align: start;
    margin: 0;
    margin-bottom: 10px;
  }
}

&__subtitle {
  color: $third-text-color;
  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}
}