  $logo-color: #2196f3;
  $third-text-color: #757575;
  $second-text-color: #ececec;
  $main-text-color: #212121;
  $team-background-color: #f5f4fa;
  $second-background-color: #2f303a;
  $main-background-color: #ffffff;
  $hero-overlay: #2f303a66;